.fnt{
   
    font-size: 50px;
}
.yellow{
    color:rgb(243, 161, 9);
}
.blu{
   color:rgb(10, 24, 68);
}
.wid{
    width:50%;
}
.sectn-cls{
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 10px;  
    margin-bottom: 50px;
    Display:flex;
}
button{
 text-decoration-color: rgb(192, 20, 20);
 background-color:tomato;
 border-radius: 5px;
 padding: 10px 30px ;
 color:white;
 border:none;
}
.fi{
    border-left: 3px  solid red;
    padding-left: 6px;
}
.alignment{
    text-align: center;
    font-size: 40px;
    font-weight: 180px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
.font{
    font-weight: 100px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
.div1{
    
    border-radius:33px;
    width: 23%;
    border: 3px 2px 2px 2px solid;
    border-color: none;
    padding: 30px 20px;
    margin: 10px;
}

.d1{
    background-color: rgb(220, 242, 245);
}
.d2{
    background-color: rgb(241, 220, 220);
}
.d3{
    background-color: rgb(248, 236, 207);
}
.f1{
    margin-left: 22px ;
    margin-right: 40px;
    padding-left: 15px;
}
.f2{
  margin-right:25px;
}
.f3{
    margin-right:15px;
  }

  .f4{
    margin-left: 22px ;
    margin-right: 40px;
    padding-left: 10px;
}
.sp{
    color:#e20909;
}
footer p{
    color:rgb(133, 142, 187);
}
footer h2{
    color:white;
}
.ft{
    margin-left:0px;
    margin-right:0px;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    background-color: black;
}
#er1 {
    border-radius: 15px;
    border-color: none;
    border: 10px ;
    padding: 8px;
    box-shadow: 5px 8px 10px #f5ededa9;
  }